.bg-lk-primary-light {
    --tw-bg-opacity: 1;
    background-color: rgb(98 98 0 / var(--tw-bg-opacity))
}
.bg-lk-secondary-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(204 204 99 / var(--tw-bg-opacity))
}
.bg-lk-secondary-light {
    --tw-bg-opacity: 1;
    background-color: rgb(98 98 0 / var(--tw-bg-opacity))
}