.text-body {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.011em;
  line-height: 1.618;
}
.text-callout {
  font-size: 0.943em;
  letter-spacing: -0.009em;
}
.text-callout,
.text-caption {
  font-weight: 400;
  line-height: 1.272;
}
.text-caption {
  font-size: 0.786em;
  letter-spacing: -0.007em;
}
.text-display-1 {
  font-size: 4.235em;
  line-height: 1.129;
}
.text-display-1,
.text-display-2 {
  font-weight: 400;
  letter-spacing: -0.022em;
}
.text-display-2 {
  font-size: 2.618em;
  line-height: 1.272;
}
.text-heading {
  font-size: 1.129em;
  font-weight: 600;
  letter-spacing: -0.014em;
  line-height: 1.272;
}
.text-heading-sub {
  font-size: 0.885em;
  font-weight: 400;
  letter-spacing: -0.007em;
  line-height: 1.272;
}
.text-label {
  font-size: 0.835em;
  font-weight: 500;
  letter-spacing: -0.004em;
  line-height: 1.272;
}
.text-overline {
  font-size: 0.786em;
  letter-spacing: 0.0618em;
}
.text-overline,
.text-title-3 {
  font-weight: 400;
  line-height: 1.272;
}
.text-title-3 {
  font-size: 1.272em;
  letter-spacing: -0.017em;
}
