.p-lk-2xl {
    padding: 4.23580em
}
.p-lk-2xs {
    padding: 0.236083em
}
.p-lk-lg {
    padding: 1.61800em
}
.p-lk-md {
    padding: 1.00000em
}
.p-lk-sm {
    padding: 0.618047em
}
.p-lk-xl {
    padding: 2.61792em
}
.p-lk-xs {
    padding: 0.381982em
}